body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.row {
  display: flex;
  flex-flow: row;
  height: calc(100vh - 16px);
}

.col-sm-2 {
  flex: 2;
  background-color: rgb(233, 232, 232);
  overflow: auto;
  flex-basis: min-content;
}

.col-sm-10 {
  flex: 10;
  padding: 1em;
  line-height: 2em;
  overflow: auto;
}

.sidebar-nav {
  padding: 1em;
}

.sidebar-nav li {
  margin: 0.5em;
  list-style-type: none;
}

.sidebar-nav li a{
  text-decoration: none;
}

.sidebar-nav li hr {
  margin: 2em;
  visibility: hidden;
}

.text-danger {
  color: red;
}

.text-warning {
  color: rgb(117, 117, 3)
}

.text-success {
  color: green;
}

.list div{
  margin-bottom: 3em;
  margin-left: 2em;
}