extends layout 

block content 
    h1 #{title}

    form(method='post' action='')
        label(for='name') Genre: 
        input(type='text' id='name' name='name' placeholder='Fantasy, Poetry, etc' value=genre ? genre : '')
        button(type='submit') Submit
        if errors
            ul 
                for error in errors
                    li #{error.msg}